@import url('styles/all.css');
@import url('styles/menu.css');
@import url('styles/paralaxe.css');
@import url('styles/grid.css');
@import url('styles/card.css');
@import url('styles/footer.css');
@import url('styles/mediaq.css');
@import url('styles/header.css');
@import url('styles/fonts.css');
@import url('styles/alternance.css');
/* body, html {
  overflow-x: hidden;
} */






.random {
  transition: 2s;
  -webkit-transition: 2s;
}

.reseaux2
{

  display: flex;
  align-items: center;
  justify-content: center;
}

.lien-position
{
  margin-left: 30px;
  margin-right: 30px;
}
