.card
{
  height: 160px;
  transition: 0.4s;
  transition: all .4s ease-in-out;
  border-radius: 16px !important;
  background-color: transparent !important;
  border: none !important;
  background-color: #ffffff !important;
  box-shadow: 2px 0px 18px 3px rgba(0,0,0,0.20);
}

.card-img
{
  border-radius: 15px !important
}

.card-body
{
  padding: 16px 16px !important;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;

}

#card-body
{
  background-color: #eaeaea;
}

#imgcard
{
  display: flex;
  justify-content: center;
  align-items: center;
}

#bac-img
{
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#sowee-img
{
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#esd-img
{
  width: 260px;
}

#gmm-img
{
  width: 275px;
}

.card-texte
{
  font-family: "Work Sans", sans-serif;
  -webkit-font-family: "heebo", sans-serif;
  color: #000000;
  font-weight: 100;
  font-size: 14px;
  line-height: 24px;
}

.card-texte2
{
  font-family: "Work Sans", sans-serif;
  -webkit-font-family: "heebo", sans-serif;
  color: #000000;
  font-weight: 100;
  font-size: 18px;
}

.card-texte3
{
  font-family: "Work Sans", sans-serif;
  -webkit-font-family: "heebo", sans-serif;
  color: #000000;
  font-weight: 100;
}

.card-texte4
{
  font-family: "Work Sans", sans-serif;
  -webkit-font-family: "heebo", sans-serif;
  color: #000000;
  font-weight: 100;
}

.card-texte5
{
  font-family: "Work Sans", sans-serif;
  -webkit-font-family: "heebo", sans-serif;
  color: #999999;
  font-weight: 100;
  font-size: 16px;
  text-align: center;
}

.list-group-item
{
  background-color: transparent !important;
  color: #000000;
  border : none !important;
  padding: 0.75rem 0px !important;
}

.card-profil
{
  border-radius: 16px !important;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 16px 16px;
  border: solid #ECECEC 1px;
  box-shadow: 2px 0px 18px 3px rgba(0,0,0,0.20);
}

#profil
{
  background-image: url(../image/background-card.jpg);
  background-size: cover;
}

#habiteo
{
  background-image: url(../image/background-card2.jpg);
  background-size: cover;
}

#esd-BG
{
  background-image: url(../image/background-card3.jpg);
  background-size: cover;
}

#esd
{
  background-image: url(../image/logo-esd.jpeg);
  background-size: contain;
  background-position: center;
}

.card-profil-header
{
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-header
{
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 24px 24px
  justify-content: space-around;
  background-color: transparent !important;
  border: none !important;
}

.pp
{
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
  background-image: url("../image/photo_profil_valentin_bertinetti_6000x4000.jpg");
  box-shadow: 2px 0px 18px 3px rgba(0,0,0,0.20);
  border-radius: 50%;
}

.pp2
{
  background-size: cover;
  background-position: center;
  width: 90px;
  height: 90px;
  background-image: url("../image/habiteo-logo.jpeg");
  box-shadow: 2px 0px 18px 3px rgba(0,0,0,0.10);
  border-radius: 50%;
}

.card-profil-body
{
  padding: 16px 0px 0px 0px !important;
  height: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-profil-link
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-profil-headline
{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-around;
}

.test
{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}
