/* ---------------GRID CONFIG ---------------*/
.grid
{


  /* margin-right: 40px; */
  /* margin-right: 10px; */
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
}

/*--------------- PROFIL CONFIG--------------- */

.profil
{
  grid-column: 1 ;
  grid-row: 1;
  transition: 0.4s;
}

.profil2
{
  grid-column: 2 ;
  grid-row: 1;
  transition: 0.4s;
}

.about
{
  grid-column: 3;
  grid-row: 1;
}

.stat1
{
  grid-column: 1 / 4;
  grid-row: 2;
  background: white;
}


/* ---------------STAT CONFIG--------------- */
.stat {
 padding: 10 10 10 0;
 display: flex;
 align-items: center;
 justify-content: start;
 }

 .stat4 {
  background: #F7F7F7;
  /* border: solid rgba(0,0,0,0.2) 0.8px; */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 75px;
  }

 .stat2 {
  background: #f7F7F7;
  /* border: solid rgba(0,0,0,0.2) 0.8px; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 75px;
  }

  .stat3 {
   background: #ffffff;
   color: none;
   padding: 50px 0px 20px 0px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: column;
   }

 .cardval
 {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
 }


/*--------------- ABOUT CONFIG ---------------*/




.about-text
{
  font-size: 30px;
  font-weight: bold;
  margin: 0px;
  color: #000000;
  font-family: futura;
}

/* ---------------STAT ANIMATION ---------------*/

.info
{
  font-family: gotham;
  font-weight: bold;
  font-size: 40px;
  color: #000000;
  text-shadow: 1px 1px 2px black;
}

#infos
{
  color: #2d3848;
  font-family: futura;
  font-size: 18px;
  font-weight: lighter;
}


.info-text
{
  font-style: bold;
  font-size: 15px;
  font-family: candal;
  color: #000000;
  text-shadow: 1px 1px 2px black;
}



.parcours-link
{
  color: #000000;
}

.parcours-link:hover
{
  transition: 0.4s;
  color: #000000;
}
