.nav-link
{
  transition: all .4s ease-in-out;
  color: white !important;
  font-size: 12px;
  letter-spacing: 2px;
}

.nav-link:hover
{
  transform: scale(1.25);
  color: #FFE400 !important;
  letter-spacing: 3px;
}

.navbar
{
  background-color: black;
  border-bottom: solid #262626 1px;
  font-family: "Work Sans";

}



.logo_menu
{
  width: 245px;

}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.lienmenu
{
  font-weight: bold;
}
