.nav-link
{
  transition: all .4s ease-in-out;
  color: #2f3947 !important;
  font-size: 24px;
}

.nav-link:hover
{
  transform: scale(1.25);
  color: #3c8482 !important;
}

.navbar
{
  background-color: white;
  box-shadow: 2px 1px 3px 1px rgba(0,0,0,0.2);
  font-family: "Work Sans";
  height: 75px;
}





.logo_menu
{
  width: 245px;

}
