.nav-link
{
  transition: all .4s ease-in-out;
  color: white !important;
  font-size: 12px;
  letter-spacing: 2px;
}

.nav-link:hover
{
  transform: scale(1.25);
  color: #FFE400 !important;
  letter-spacing: 3px;
}

.navbar
{
  background-color: black;
  border-bottom: solid #262626 1px;
  font-family: "Work Sans";
  height: 75px;
}

.nav-item
{
  width: 150px;
  display: flex;
  justify-content: center;
}

.logo_menu
{
  width: 245px;

}
